body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

.calculator {
    width: 300px;
}

.display {
    display: flex;
    justify-content: flex-end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}